@cellSize: 80px;
@rows: 5;
@cols: 5;
@marg: 4px;

.cell () {
  height: @cellSize;
  width: @cellSize;
  line-height: @cellSize;
  text-align: center;
  font-weight: bold;
  color: #776e65;
  border-radius: 4px;
  font-size: 24px;
}

.controlCell {
  margin: auto;
  background: #bbada0;
  font-size: 14px;
  text-align: center;
}

body {
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  width: 444px;
  margin: auto;
}

#gameFieldWrapper {
  width: @cols * @cellSize + @marg * 2 * (@cols);
  height: @rows * @cellSize + @marg * 2 * (@rows);
  border-radius: 4px;
  background: #bbada0;
  padding: @marg / 2;
  margin: 10px auto 0 auto;

  .row {
    height: @cellSize;
  }

  .cell {
    .cell();
    float: left;
    background: rgba(238, 228, 218, 0.35);
    margin: @marg;
  }
}

.controlWrapper {
  height: 120px;
  width: @cols * @cellSize;
  margin: auto;
  padding-top: 20px;
  clear: both;

  .nextContainer {
    .controlCell();
    float: left;
    background: #bbada0;
    .next {
      .cell ();
    }
  }

  .starsContainer {
    .controlCell();
    float: left;
    background: #bbada0;
    margin-left: 80px;
    .stars {
      .cell ();
    }
  }

  .stashContainer {
    float: right;
    background: #bbada0;
    .controlCell();
    .stash {
      .cell ();
    }
  }
}

.scoreWrapper {
  .controlCell();
  float: right;
  clear: both;


  .score {
    .cell ();
    float: right;
  }
}