@cellSize: 80px;
@rows: 5;
@cols: 5;

.cell () {
  height: @cellSize;
  width: @cellSize;
  line-height: @cellSize;
  outline: 1px #000 solid;
  text-align: center;
  font-weight: bold;
}

#gameFieldWrapper {
  width: @cols * @cellSize;
  height: @rows * @cellSize;
  margin: 10px auto 0 auto;

  .row {
    height: @cellSize;
    width: @cols * @cellSize;
  }

  .cell {
    .cell();
    float: left;
  }
}

.controlWrapper {
  height: @cellSize;
  width: @cols * @cellSize;
  margin: auto;

  #nextWrapper {
    .next {
      .cell ();
      float: left;
    }
  }

  #starWrapper {
    .star {
      .cell ();
      margin: auto;
    }
  }

  #stashWrapper {
    .stash {
      .cell ();
      float: right;
    }
  }
}